
.titulo{
 position: relative;
 top: auto;
 left: 40%;
}
.titulo2{
 position: relative;
 top: auto;
 left: 30%;
}

body{
background-image:url("../mio/imagen/design.jpg");
}
.medio{
  background: yellow;
   width: 80%;
   margin:0px auto;

}


.derecha{
  width: 65%;
height:  1600px;
background-color: #87E886;
float: right;/*ahor  es hacia el otro lado*/

}

.izquierda{
width: 35%;
height: 1600px;
background-color: #EE7469 ;
float: left;/*ahor  es hacia el otro lado*/

}

.ima{
border-radius: 50%;
position: relative;
top: auto;
left: 5%
}
